name: Process ZTE Kernel Source

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  process-kernel:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Download and process
      run: |
        curl -O "https://download.ztedevices.com/device/global/support/opensource/2/20210602_01/ZTE_A2022PG_R(11)_Kernel(5.4.61).tar.gz"
        mkdir -p zte_kernel
        tar -xzvf *.tar.gz -C zte_kernel
        mv zte_kernel/kernel/msm-5.4/* .
        rm -rf zte_kernel *.tar.gz

    - name: Commit
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add .
        git commit -m "Update kernel source"
        git push
